// Primary colours
$color-high-background: #ffffff;
$color-low-background: #eeeeee;
$color-outer-background: #333333;
$color-inner-background: #f4f4f4;
$color-primary: #e3f241;
$color-green: #428600;
$color-purple: #7a437c;

$color-archive: #CCCCCC;

$color-ladies-background: #f48fb1;
$color-ladies-foreground: #8a2748;

$color-mixed-background: #aed581;
$color-mixed-foreground: #598229;

$color-mens-background: #81d4fa;
$color-mens-foreground: #22698a;


$color-link: #333333;
$color-link-hover: #ff0000;