@import 'reset-css';
@import '../../styles/global.scss';

:local(h1) {
  font-size:50px;
}

:local(.header) {
  background-color: $color-primary;
  padding: 20px 20px 0px 70px;
  position: relative;
  margin-top: 10px;
  overflow:hidden;
}

:local(.current) {
  background-color: $color-primary !important;
}


:local(.menuButton) {
  background-color: $color-primary;
}

:local(.currentUser) {
  position: absolute;
  right: 20px;
  top: 20px;
}


:local(.horizList) {
  li {
    display:inline-block;
    margin-top: 15px;
    margin-right: 1px;

    a {
      font-family: 'OpenSansLight';
      display:inline-block;
      padding: 4px 10px;
      text-align:center;
      text-decoration: none;
    }
  }
}

:local(.horizItem) {
  color: $color-inner-background;
  background-color: $color-outer-background /*rgba( $color-inner-background, 0.5 )*/
}

:local(.horizCurrent) {
  color: $color-outer-background;
  background-color: $color-inner-background
}

:local(.vertCurrent) {
  background-color: $color-primary !important;
}

:local(.menuButtonContainer) {
  position: fixed;
  margin: -10px 0px 0px -60px;
}

:local(.selectSeason) {
  position: absolute;
  right:20px;
  bottom:20px;
}

:local(.hide) {
  display: none;
}

:local(.list) {
  width: 250px;
}

:local(.toolbar) {
  padding: 0 8px;
}
