@import '../../styles/global.scss';

:local(.outer) {
  width:100%;
}

:local(.inner) {
  max-width: 1024px;
  margin: 0 auto;
}

:local(.content) {
  padding: 0px;
  min-height: 100vh;
  background-color: $color-inner-background;
}

:global(a.current) {
  background-color: #f4f4f4;
  color: #333;
}

:global(body) {
  box-sizing: border-box;
  background-color: $color-outer-background;
}

:global(*) {
  box-sizing: border-box;
}

:global(a), :global(span), :global(div) {
  font: 14px/19px Arial, sans-serif !important
}

:global(a) {
  color: $color-link;
  text-decoration: none;
}

:global(a:hover) {
  color: $color-link-hover;
  text-decoration: none;
}