@import 'reset-css';
@import '../../styles/global.scss';

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }
  to { 
    -webkit-transform: translateX(46px);
  }
}

@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(46px);
  }
}


.loading {
  height: 20px;
  width: 100%;
  text-align: center;
  color: $color-primary;
  position: absolute;
  overflow: hidden;
  margin: 0;
  top: 0;
  left: 0;
  z-index:5;
}



.bg {
  transition: opacity 2s;  
  position: absolute;
  left: -46px;
  right: 0;
  top: 0;
  opacity:0;
  bottom: 0;
  z-index: -1;
  max-height:20px;
  background: repeating-linear-gradient(
    -55deg,
    $color-primary 1px,
    $color-outer-background 2px,
    $color-outer-background 11px,
    $color-primary 12px,
    $color-primary 20px
  );
    
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-name: MOVE-BG;
  animation-timing-function: linear;
  
}
